{% extends 'base.html' %}

{% block content %}


<div class="breadcrumb-section breadcrumb-bg  " >
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center ">
					<div class="breadcrumb-text">

						<h1>Add Product Stock</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="container">
<form method="POST" enctype="multipart/form-data" class="m-5 orange-text">
  {% csrf_token %}

    <div class="mb-3">
  <label  class="form-label"><strong>Stock</strong></label>
  <input type="number" class="form-control" value="{{pro.stock}}" name="S" placeholder="Enter new Stock">
</div>
	<div class="mb-3">
    <button type="submit" class="btn btn-danger mb-3 form-control ">submit</button>
  </div>
  </form>
    </div>

  {% endblock %}